<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Website</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<form method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <br>
  <button type="submit">Submit</button>
</form>

  <h2>Registred Users:</h2>
  <ul>
    {% for entry in users %}
    <li>{{ entry.name }} - {{ entry.email }}</li>
    {% endfor %}
  </ul>
</body>
</html>